In [2]:
import pandas as pd

## Creating data
##### There are two core objects in pandas: the DataFrame and the Series.
-----

### Dataframe (Table like Data Structure)

* A DataFrame is a table. 
* It contains an array of individual entries, each of which has a certain value. 
* Each entry corresponds to a row (or record) and a column.

In [13]:
# Creating Dataframes
df_1 = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
df_2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

# Display Dataframe
print(df_1)
df_2

   Yes   No
0   50  131
1   21    2

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [15]:
# Creating Dataframes with custom row indices (row identifiers)
pd.DataFrame({'Age': [25, 30], 
              'Address': ['Colombo', 'Panadura']},
             index=['Nimal', 'Kamal'])

       Age   Address
Nimal   25   Colombo
Kamal   30  Panadura

### Series (List Like Data Structure)

* A Series is a sequence of data values.

In [17]:
# Creating A Series
pd.Series([10, 20, 30, 40, 50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

* A Series is, in essence, a single column of a DataFrame. So you can assign column values to the Series the same way as before, using an index parameter. 
* **Note:** A Series **does not have a column name**, it only has one overall name.

In [20]:
pd.Series([30, 35, 40], index=['Apple', 'Orange', 'Pumpkin'], name='Price')

Apple      30
Orange     35
Pumpkin    40
Name: Price, dtype: int64

### Think !!
The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".